
@{
    ViewBag.Title = "Bio";
}
<h2 class="">Bio</h2>
<div class="">
    <h4 class="ms-2">Name: Nazim Hasan</h4>
    <h4 class="ms-2">Father's Name': ABC</h4>
    <h4 class="ms-2">Mother's Name: DEF</h4>
    <h4 class="ms-2">Current Address: 520, Shatmashjid, Malibagh, Badda, Dhaka- 1212</h4>
    <h4 class="ms-2">
        Date of Birth: 10/10/1994
    </h4>
</div>
