
@{
    ViewBag.Title = "Education";
}

<h2>Education</h2>
<table class="table table-striped table-dark">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Certificate</th>
            <th scope="col">Board</th>
            <th scope="col">Institution</th>
            <th scope="col">Passing year</th>
            <th scope="col">GPA</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Secondary School Certificate</td>
            <td>Dhaka</td>
            <td>Vasha Shaheed Abdul Jabbar Ansar VDP School and College</td>
            <td>2016</td>
            <td>5/5</td>
        </tr>
        <tr>
            <th scope="row">1</th>
            <td>Higher Secondary Certificate</td>
            <td>Dhaka</td>
            <td>Vasha Shaheed Abdul Jabbar Ansar VDP School and College</td>
            <td>2018</td>
            <td>5/5</td>
        </tr>
        <tr>
            <th scope="row">1</th>
            <td>Bachelor of Science in Computer Science & Engineering</td>
            <td></td>
            <td>
                American International University-Bangladesh
            </td>
            <td>2022</td>
            <td>
                3.93/4
                (current)
            </td>
        </tr>
    </tbody>
</table>
