
@{
    ViewBag.Title = "Projects";
}

<h2>Projects</h2>
<div class="container">

    <div class="row row-cols-md-3 g-4">
        <div class="col">
            <div class="card">
                <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fcodecanyon.net%2Fitem%2Flsms-shop-management-system%2F22471838&psig=AOvVaw137yOoB2tBbTX-U4z5lwBo&ust=1632074771854000&source=images&cd=vfe&ved=0CAsQjRxqFwoTCLC22LuOifMCFQAAAAAdAAAAABAJ" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Shop management system</h5>
                    <p class="card-text">A shop management windows application that simplifies task for a shop owner as well as employees of the shop . Technology used : C# , Dot net framework</p>
                    <a href="https://github.com/Nazim-hasan/Techshop-management-desktop-application" target="_blank" class="btn btn-primary">See GitHub Repository</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Faist.global%2Fen%2Fbenefits-of-commercial-website-for-businesses&psig=AOvVaw2NrVdHQxUN5FeXV0a0a5rf&ust=1632075091981000&source=images&cd=vfe&ved=0CAsQjRxqFwoTCIDc09OPifMCFQAAAAAdAAAAABAD" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Online Shop</h5>
                    <p class="card-text">A shop management windows application that simplifies task for a shop owner as well as employees of the shop . Technology used : C# , Dot net framework</p>
                    <a href="https://github.com/Nazim-hasan/panda-commerce-bootstrap" target="_blank"  class="btn btn-primary">See GitHub Repository</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.uplabs.com%2Fposts%2Fpersonal-portfolio-website-ii&psig=AOvVaw1vrUOwFMyGqm8iR0uZZrsN&ust=1632075172776000&source=images&cd=vfe&ved=0CAsQjRxqFwoTCLCAm_yPifMCFQAAAAAdAAAAABAD" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Simple portfolio website</h5>
                    <p class="card-text">A Portfolio website that simplifies task for a shop owner as well as employees of the shop . Technology used : C# , Dot net framework</p>
                    <a href="https://github.com/Nazim-hasan/developer-portfilo" target="_blank"  class="btn btn-primary">See GitHub Repository</a>
                </div>
            </div>
        </div>
    </div>
</div>
