
@{
    ViewBag.Title = "references";
}

<h2>references</h2>
<ol>
    <li>
        <p>Name: Md Ahmed</p>
        <p>Designation: Professor</p>
        <p>Institution: University of Dhaka</p>
        <p>E-mail: mdhmed@du.edu.bd</p>
        <p>Contact Number: 0194466655</p>
    </li>
    <li>
        <p>Name: Md Khan</p>
        <p>Designation: Senior Lecturer</p>
        <p>Institution: American International University- Bangladesh</p>
        <p>
            E-mail: akn.aiub@gmail.com
        </p>
        <p>Contact Number: 01673843894</p>
    </li>
</ol>
